@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --n-bg: 236 100% 5%;
  --n-main: 332 85% 49%;
  --n-caret: 332 85% 49%;
  --n-sub-color: 224 34% 35%;
  --n-sub-alt: 230 52% 20%;
  --n-text: 0 0% 100%;
  --n-error-color: 170 98% 42%;
  --n-error-extra: 170 37% 39%;
  --n-colorful: 70 98% 42%;
  --n-colorful-extra: 170 37% 39%;
}

.retryContainer {
  transition: 0.5s;
}

.retryContainer > svg {
  transition: 0.75s;
}

.retryContainer:hover {
  transition: 0.5s;
  background-color: hsl(var(--n-sub-alt));
}

.retryContainer:hover > svg {
  transition: 0.75s;
  transform: rotate(-360deg);
}