@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --n-bg: 236 100% 5%;
  --n-main: 332 85% 49%;
  --n-caret: 332 85% 49%;
  --n-sub-color: 224 34% 35%;
  --n-sub-alt: 230 52% 20%;
  --n-text: 0 0% 100%;
  --n-error-color: 170 98% 42%;
  --n-error-extra: 170 37% 39%;
  --n-colorful: 70 98% 42%;
  --n-colorful-extra: 170 37% 39%;
}

.keyTips {
  transition: 0.125s;
  margin-bottom: 2em;
  line-height: 2;
}

.key {
  margin: 0 0.25em;
  color: hsl(var(--n-bg));
  background-color: hsl(var(--n-sub-color));
  padding: 0.1rem 0.3rem;
  border-radius: 0.1rem;
  display: inline-block;
  font-size: 0.7rem;
  line-height: 0.7rem;
}
